@font-face{
    font-family:chunki;
    src:url(Chunkfive.otf);
}

body{
    margin:0;
    padding:0;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(1.jpg)  center no-repeat;
    background-size: cover;
	min-height: 100vh;


}
.box {
    position: absolute;
    top:55%;
    left:44%;
    transform: translate(-42%,-50%);
}

 h3 {
    font-family: 'chunki';
    color:rgba(255, 255, 255, 0.863);
   text-align: left;
    font-size:30px;
    letter-spacing: 3px;
    margin:10px;
    margin-top:30px;
    margin-left: 10px;

}

#timer{
    color:rgba(255, 255, 255, 0.863);
    font-size:20px;
    letter-spacing: 3px;
    text-align: right;
    position: absolute;
    top:20px;
    left:80%;
    border-bottom: 3px solid rgba(255, 255, 255, 0.863);
}
#location{
    position: absolute;
    top:25%;
    left:35%;
    transform: translate(-42%,-50%);
    font-size:70px;
    font-weight: bold;
    color:white;
}
.weatherbox {
width:100px;
height: 100px;
background: rgba(255, 255, 255, 0.705);
color:rgb(78, 78, 78);
display: inline-block;
margin-right:20px;
border:2px solid white;
border-radius: 5px;
position: relative;


}

.weatherbox i {
    color:black;
    font-size:40px;
    position: absolute;
    top:30px;
    left:30%;
}
.weatherbox span {
    font-weight: bold;
    color:black;
    display: block;
    position: absolute;
top:80%;
left:3px;
}

#time {
    font-weight: bold;
     color:black;
     display: block;
     margin-top:0px;
    position: absolute;
    top:0px;
    left:30px;
}
